<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntranetMall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IntranetMallDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IntranetMallHom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE88ECAE1DE4A399007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ECC71DE4A399007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ECD21DE4A399007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ECE81DE4AA42007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ED001DE4AA42007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ED0B1DE4AA42007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ED1F1DE4AA79007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ED371DE4AA79007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE88ED421DE4AA79007E519E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
